<div class="stats">

  <div class="stats__main">


  <div class="stats__item" matTooltip="Lives" matTooltipShowDelay="10"
       matTooltipHideDelay="200" matTooltipPosition="below" matTooltipClass="stats__tooltip">
    <div class="stats__desc">
      <div class="stats__desc-img">
        <img src="./assets/heart.png">
      </div>
       <div class="stats__desc-title">
         Lives
       </div>
    </div>
    <div class="stats__value">
      {{lives}}
    </div>
  </div>

  <div class="stats__item" matTooltip="Gold" matTooltipShowDelay="10"
       matTooltipHideDelay="200" matTooltipPosition="below" matTooltipClass="stats__tooltip">
    <div class="stats__desc">
      <div class="stats__desc-img">
        <img src="./assets/chest.png">
      </div>
      <div class="stats__desc-title">
        Gold
      </div>
    </div>
    <div class="stats__value">
      {{gold}}
    </div>
  </div>

  <div class="stats__item" matTooltip="Level" matTooltipShowDelay="10"
       matTooltipHideDelay="200" matTooltipPosition="below" matTooltipClass="stats__tooltip">
    <div class="stats__desc">
      <div class="stats__desc-img">
        <img src="./assets/fitness.png" style="left: 14px">
      </div>
      <div class="stats__desc-title">
        Level
      </div>
    </div>
    <div class="stats__value">
      {{level}}
    </div>
  </div>

    <div class="stats__item" matTooltip="Turn" matTooltipShowDelay="10"
         matTooltipHideDelay="200" matTooltipPosition="below" matTooltipClass="stats__tooltip">
      <div class="stats__desc">
        <div class="stats__desc-img">
          <img src="./assets/work-time.png">
        </div>
        <div class="stats__desc-title">
          Turn
        </div>
      </div>
      <div class="stats__value">
        {{turn}}
      </div>
    </div>

  </div>

  <div class="stats__secondary">

    <div class="stats__item" matTooltip="Score" matTooltipShowDelay="10"
         matTooltipHideDelay="200" matTooltipPosition="below" matTooltipClass="stats__tooltip">
      <div class="stats__desc">
        <div class="stats__desc-img">
          <img src="./assets/award.png">
        </div>
        <div class="stats__desc-title">
          Score
        </div>
      </div>
      <div class="stats__value">
        {{score}}
      </div>
    </div>


    <div class="stats__item" matTooltip="High Score" matTooltipShowDelay="10"
         matTooltipHideDelay="200" matTooltipPosition="below" matTooltipClass="stats__tooltip">
      <div class="stats__desc">
        <div class="stats__desc-img">
          <img src="./assets/medal.png" style="top: 12px">
        </div>
        <div class="stats__desc-title">
          High Score
        </div>
      </div>
      <div class="stats__value">
        {{highScore}}
      </div>
    </div>

  </div>



  
</div>