<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <div class="wrapper-inner">

        <div class="logo">
            <img src="./assets/logo.png">
        </div>

    <ng-container *ngIf="state === 0">


        <div class="content">
            <h1 style="margin-top: 60px;">
                Welcome Traveller.
            </h1>
            <p style="margin-top: -20px; margin-bottom: 20px;">The dragons await ye.</p>

            <div class="input-wrap name" [class.error]="nameError">
                <input [(ngModel)]="playerName" type="text" placeholder="enter your name" />
                <div class="input-styling"></div>
            </div>

            <div class="btn-wrap">
                <a href="#" class="btn highlighted" (click)="submitName($event)">Lets start <div class="btn-style"></div> </a>
            </div>

            <div class="nameError" *ngIf="nameError" style="margin-top: 10px; font-size: 22px;">
                Sir, I need your name to issue you a licence for a dragon!
            </div>

        </div>
    </ng-container>

        <stats-view *ngIf="state !== 0" [lives]="lives" [gold]="gold" [highScore]="highScore" [level]="level" [score]="score" [turn]="turn"></stats-view>

        <default-view *ngIf="state === 1" [name]="playerName" [turn]="turn" [gold]="gold" [gameId]="gameId" (cPickQuest)="pickQuest()" (cInvestigate)="investigate()" (cShop)="shopping()"></default-view>

        <quests-view *ngIf="state === 2" [name]="playerName" [quests]="allQuests" [turn]="turn" (cQuestPicked)="questPicked($event)" (cContinue)="changeState($event)"> </quests-view>

        <quest-done-view *ngIf="state === 3" [name]="playerName" [lives]="lives" [feedback]="questFeedback" [success]="questSuccess" (cContinue)="changeState($event)" (cAnotherQuest)="pickQuest()"></quest-done-view>

        <shop-view *ngIf="state === 4" [gold]="gold" [items]="shopItems" (cItemPurchased)="itemPurchased($event)" (cContinue)="changeState($event)"></shop-view>

        <investigate-view *ngIf="state === 5" (cContinue)="changeState($event)" [people]="reputation_people" [state]="reputation_state" [underworld]="reputation_underworld"></investigate-view>
    </div>
</div>



