<div class="wrap">
    <div class="content">
        <div class="investigate">
            <div class="investigate__return" (click)="continue()">Leave the Tavern</div>
            <h1>Your rankings, Sir!</h1>
            <p>The people are talking, you know. There are many stories out there...</p>
            <p>I walked around the Tavern and asked around a bit.</p>
            <p>This is what I found out...</p>

            <div class="investigate__list">
                <ul>
                    <li><span>People:</span>{{people}}</li>
                    <li><span>State:</span>{{state}}</li>
                    <li><span>Underworld:</span>{{underworld}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>